/.metadata/
/Servers/
swagger/target/test-classes/log4j.xml
swagger/target/m2e-wtp/web-resources/META-INF/maven/com.bit/swagger/pom.xml
swagger/target/m2e-wtp/web-resources/META-INF/maven/com.bit/swagger/pom.properties
swagger/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
swagger/target/classes/log4j.xml
swagger/target/classes/com/bit/swagger/HomeController.class
swagger/src/main/webapp/WEB-INF/spring/root-context.xml
swagger/.springBeans
swagger/.settings/org.springframework.ide.eclipse.core.prefs
swagger/.settings/org.springframework.ide.eclipse.beans.core.prefs
swagger/.settings/org.eclipse.wst.validation.prefs
swagger/.settings/org.eclipse.wst.common.project.facet.core.xml
swagger/.settings/org.eclipse.wst.common.component
swagger/.settings/org.eclipse.m2e.core.prefs
swagger/.settings/org.eclipse.jdt.core.prefs
swagger/.project
swagger/.classpath
RemoteSystemsTempFiles/.project
