<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="follow">
    <select id="following" resultType="followVo"> <!-- follower_id의 팔로잉 목록 -->
        select * from follow where follower_id = #{follower_ID}
    </select>

    <select id="follower" resultType="followVo"> <!-- user_id의 팔로워 목록 -->
        select * from follow where user_id=#{user_ID}
    </select>

    <insert id="insert"> <!-- user_id를 follower_id가 팔로우 -->
        insert into follow values(#{follower_ID},#{user_ID})
    </insert>

    <delete id="delete"> <!-- follower_ID가 user_id를 언팔 -->
        delete follow where user_ID = #{user_ID} and follower_ID = #{follower_ID}
    </delete>

    <select id="isFollower" parameterType="followVo" resultType="java.lang.Integer">
        select count(*) from follow where user_ID = #{user_ID} and follower_ID = #{follower_ID}
    </select>

    <select id="followList" resultType="followVo">
        select*from follow
    </select>
</mapper>