<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timeline">
	<select id="getTimeline" resultType="postVo">
		select * from post, (select post_no, count(*) like_cnts from likes group by post_no order by count(*) desc) P where post.post_no = p.post_no order by like_cnts desc
	</select>
</mapper>