<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timeline">
    <!-- <select id="getTimeline" resultType="postVo">
        select*from post order by post_time desc
    </select>  -->
    <select id="getTimeline" resultType="postVo">
        select * from post where user_id in (select user_id from follow where follower_id = #{user_ID}) order by
        post_deltime
    </select>

    <select id="searchByHash" resultType="postVo">
        select * from post where post_content like '%' || #{keyword} || '%'
    </select>

</mapper>